.vacancy-card {
  margin: 20px 20px 20px;
  border-radius: 30px;
  background-color: #d9e6ff;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.vacancy-list{
  padding-bottom: 50px
}

.mat-card {
}

.mat-card:hover {
  background-color: #82ACC4;

  box-shadow:
    1px 1px #b6fcff,
    2px 2px #b6fcff,
    3px 3px #b6fcff;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
