.container {
  text-align: center;
  width: 30%;
  margin-top: 75px;
  position: relative;
  z-index: 9998!important;
  text-align: -webkit-center;
}

.row{
  justify-content: space-around;
}

.btn{
  margin-top: 5px;
  width: 30%;
}

.form-signin-heading{
  color: white;
}



@media (max-width: 1300px) {

  .container{
    width: 50%;
  }
}

@media (max-width: 991px) {

  .container{
    width: 55%;
  }

}

@media (max-width: 767px) {

  .container{
    width: 60%;
  }

  .btn{
    width: 40%;
  }
}

@media (max-width: 414px) {

  .container{
    width: 60%;
  }

  .btn{
    width: 70%;
  }

  @media (max-width: 280px) {
    .container {
      width: 80%;
    }
  }
}
