<h1 id="component-header">Requests</h1>
<div class="wrapper">
  <div class="requests-list">
    <mat-card class="request-card" *ngFor="let specialist of specialists">
      <mat-card-header>
        <mat-card-title>{{specialist.name + ' ' + specialist.surname}}</mat-card-title>
        <mat-card-title>{{specialist.position}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <hr>
        <span>Technologies:</span>
        <p>
          {{specialist.technologies}}
        </p>
        <hr>
        <span>Years of experience:</span>
        <p>
          {{specialist.yearsOfExperience}}
        </p>
        <hr>
        <span>English level:</span>
        <p>
          {{specialist.englishLevel}}
        </p>
        <hr>
        <span>Employment:</span>
        <p>
          {{specialist.employmentOptions}}
        </p>
        <hr>
        <span>Phone:</span>
        <p>
          {{specialist.phoneNumber}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
