<form [formGroup]="specialistProfileForm" *ngIf="this.currentSpecialist; else loading">
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">

      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Name" matInput value="{{(this.currentSpecialist| async)?.name}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Surname</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Surname" matInput value="{{(this.currentSpecialist| async)?.surname}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Email" matInput value="{{(this.currentSpecialist| async)?.email}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="PhoneNumber" matInput value="{{(this.currentSpecialist| async)?.phoneNumber}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Skype</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Skype" matInput value="{{(this.currentSpecialist| async)?.skype}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Address" matInput value="{{(this.currentSpecialist| async)?.address}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Experience</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="YearsOfExperience" matInput value="{{(this.currentSpecialist| async)?.yearsOfExperience}}" />
                </mat-form-field>
                years
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Technologies</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Technologies" matInput value="{{(this.currentSpecialist| async)?.technologies}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Position</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field class="example-full-width" >
                  <input formControlName="Position" matInput value="{{(this.currentSpecialist| async)?.position}}" />
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Employment options</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field appearance="standard">
                  <mat-select formControlName="EmploymentOption">
                    <mat-option *ngFor="let employmentOption of employmentOptions" [value]="employmentOption">
                      {{employmentOption}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">English level</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <mat-form-field appearance="standard">
                  <mat-select formControlName="EnglishLevel">
                    <mat-option *ngFor="let englishLevel of englishLevels" [value]="englishLevel">
                      {{englishLevel}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Desired salary</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                $
                <mat-form-field class="example-full-width" >
                  <input formControlName="DesiredSalary" matInput value="{{(this.currentSpecialist| async)?.desiredSalary}}" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{(this.currentSpecialist| async)?.name + ' ' + (this.currentSpecialist| async)?.surname}}</h4>
                <p class="text-secondary mb-1">{{(this.currentSpecialist| async)?.position}}</p>
                <p class="text-muted font-size-sm">{{(this.currentSpecialist| async)?.address}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-center">
          <button class="btn-update btn btn-outline-primary">Update profile</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<ng-template #loading>
  Loading User...
</ng-template>
