<h2 mat-dialog-title>{{vacancy.header}}</h2>
<mat-dialog-content class="mat-typography">
  <h2>{{vacancy.companyName}}</h2>
  <hr>
  <p>{{vacancy.about}}</p>
  <hr>
  <p>{{vacancy.requirements}}</p>
  <hr>
  <p>{{vacancy.offers}}</p>
  <hr>
  <p>Salary: {{vacancy.salary ? '$ ' + vacancy.salary : 'after interview'}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="true" mat-button mat-dialog-close>Send request</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
